<div class="auto_complete-padding">
<h3>Matched Help Pages:</h3>
<ol>
	<% for help_page in @help_pages %>
	<li><%= link_to h(help_page.name), :controller =>"help_pages", :action =>"show", :id => help_page %></li>
  <% end %>
</ol>
<br />
<p style="text-align:right;"><%= link_to "All Results", :action => 'search_results_inpage', :id => params["search"]["query"] %></p>
</div>