<h2>You searched for: <b><%= params[:query] %></b></h2>
<br />
<h3>Matched Help Pages:</h3>
<br /><br />
<% for help_page in @help_pages %>
<h4><%= link_to help_page.name, help_page %></h4>
<p>Matched: <%=raw help_page.content_snippet %></p>
<br />
<% end %>
<br />
<p><%= link_to 'Return to Concerto Help', :action => 'index' %></p>
