<% if current_user && current_user.is_admin? %>
<div class="adminpage">
	<p>Help Page&nbsp;&nbsp;&nbsp;<%= link_to 'Edit', edit_help_page_path(@help_page) %> | <%= link_to 'Delete', @help_page, :confirm => 'Are you sure you want to delete this Help Page?', :method => :delete %></p>
</div>	
<% end %>

<%=raw @help_page.content %>

<br /><br /><br /><br />
<% if @help_page.get_feedback %>
<%= render :partial => "contacts/new", :locals => { :contact => @new_contact, :controller_name => controller.controller_name } %>
<% end %>
