<section class="single">
	<%= link_to 'Back', columns_path %>

	<h1>New column for '<%= @page.title %>'</h1>

	<%= render :partial => 'form', :locals => { :page => @page, :column => @column } %>
</section>
	