<% if current_user && current_user.is_admin? %>
<hgroup>
	<h2><%= link_to "Add Column", new_page_column_path(@page) %> | <%= link_to "Edit Details", edit_page_path(@page) %></h2>
</hgroup>
<% end %>
<div style="clear:both;"></div>
<%= render @columns %>
<div style="clear:both;"></div>

