<div id="stripe2">
	<div id="stripe1">
		<div class="wrap">
			<%= render :partial => 'elements/mainmenu' %>
 		</div>
	</div>
  	<div id="stripe2-padding" style="<%= @bg_css %>">
    	&nbsp;
    </div>
</div>
	
<div id="stripe3">
	<div class="wrap">
		<div id="maincontent">
			<div id="mc" style="width:100%;">

				<article>
					<%= yield %>
				</article>
					
			</div>
  			<div style="clear:both;"></div>
		</div>
	</div>
</div>